:root {

  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #2d232e, #332b34, #3a333b, #403c41, #474448);
}

nav {
  background: #332b34;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}